<div style="display:grid;grid-template-columns:  repeat(10, 1fr); cursor: pointer;">
    <div ng-repeat="u in displaySeats">
        <div style="border: 1px solid black;font-size: 12px;">
            <button style="border: none;" ng-if="!u.isSelected" 
             ng-click="selectSeats(u.seatNumber)"><img src="assets/car-seat.png"></button>
            <button style="border: none;" 
            ng-if="u.isSelected" class="btn btn-success" 
             ng-click="selectSeats(u.seatNumber)"><img src="assets/car-seat.png"></button>
        </div>
    </div>
  </div>

<br><br>

  <div ng-if="selectedSeatsList.length>0">
    <table class="table table-striped" style="border:1px solid;font-size:15px;
    width:450px;margin-left:300px;">
        <thead style="border:1px solid;">
          <tr style="border:1px solid;">
            <th scope="col" style="border-right:1px solid;width:200px;">Seats</th>
            <th scope="col" style="border-right:1px solid;width:200px;">Fare</th>
            <th scope="col" style="border-right:1px solid;width:200px;">Class</th>
          </tr>
        </thead>
    
            <tr ng-repeat="u in selectedSeatsList" style="border:1px solid;">
                <td>{{u.seatNumber}}</td>
                <td>{{u.fare}}</td>
                <td>{{u.class}}</td>
            </tr>
    
        </table>

        <div style="background-color: aliceblue;margin-left:430px;width:150px;">
            <span style="padding:15px;">Total: {{totalFare}}</span>
        </div>

        <br>

      <a href="#/reviewTicket"> <button class="btn btn-primary" style="margin-left:430px;width:150px;">Confirm</button> </a> 

  </div>